.idea
/bin/
node_modules
.DS_Store
*.log
.env
coverage
*.tsbuildinfo
.vscode
*.swp
*.swo
*.bak
*.tmp
*.old
*.orig
*.rej
*.class
*.jar
*.war
env.local
.env.local.*
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.pnp.*
.pnp.json
.cache/     